/* This file is for your main application css. */
@import "bootstrap";

/** Global **/
html {
  height: 100%;
}

body {
  font-family: 'Share Tech', sans-serif;
  background: url("https://slot1-images.wikia.nocookie.net/__cb1469724667/common/skins/oasis/images/themes/sapphire.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 100%;
  overflow: hidden;
}


/** Lobby **/
.starter {
  transition: all .2s;
}

.starter:hover {
  transform: scale(1.1);
}

.selected {
  transform: scale(1.1);
}

.hp-bar-filler {
  background-color: #fdf9da !important;
}

.hp-bar-bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.hp-bar-top {
  position: absolute;
  top: 20px;
  width: 100%;
}

.all-cards {
  position: absolute;
  top: 32%;
}

.wait {
  position: absolute;
  top: 200px;
  width: 100%;
}

.hp-bar-empty {
  background-color: #464e4e !important;
}

.bg-33e737 {
  background-color: #33e737 !important;
}

.move {
  padding: 1em;
}

.slow-bounce {
  animation-duration: 4s !important;
}